pandas==2.0.3
numpy~=1.23.5
plydata==0.4.3
duckdb
polars
ydata-profiling==4.3.1
scikit-learn
sklearn-pandas
tabulate
requests~=2.31.0
beautifulsoup4
retrying
httpx
pygwalker
sqlalchemy~=2.0.27
snowflake-connector-python
snowflake-snowpark-python
pymysql~=1.1.0
openai~=1.12.0
streamlit~=1.31.1
streamlit-shadcn-ui
streamlit-ace
streamlit-extras
torch
torchvision
tensorflow
statsmodels
prophet
mysql-connector-python~=8.3.0
faker~=23.2.1